@import "@openfun/cunningham-react/fonts";
@import "@openfun/cunningham-react/icons";
@import "@openfun/cunningham-react/style";
@import "../cunningham-tokens.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  padding: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  width: fit-content;
}
