@import "@openfun/cunningham-react/fonts";
@import "@openfun/cunningham-react/icons";
@import "@openfun/cunningham-react/style";
@import "../cunningham-tokens.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--c--contextuals--background--surface--primary);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  color: var(--c--contextuals--content--semantic--neutral--primary);
}

.main {
  padding: var(--c--globals--spacings--6xl);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--c--globals--spacings--base);
}

button {
  width: fit-content;
}
