.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  gap: 1rem;
  padding: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link:hover {
  background-color: #444;
}

.active {
  color: white;
  font-weight: 900;
}
