.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c--contextuals--border--semantic--neutral--primary);
  gap: 1rem;
  padding: 1rem;
}

.link {
  color: var(--c--contextuals--content--semantic--neutral--primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.active {
  color: var(--c--contextuals--content--semantic--neutral--primary);
  font-weight: var(--c--globals--font--weights--black);
}
